/* h1{
    padding-top: 9%;
}

.aposition {
    width: 70%;
    max-height: 55%;
    border-radius: 5%;
}

.aimageContainer {
    background-color: rgba(252, 248, 251, 0.836);
    height: 100vh;  
    display: flex;
    flex-direction: row;
}

.categoryImages {
    width: 55%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.aminiContainer {
    position: relative;
    display: inline-block;
    text-align: center;
}
.aimageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: silver;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(241, 206, 237), 0 0 0.2em rgb(241, 206, 237);
    opacity: 0%;
    font-size: large;
    cursor: pointer;
}
.aimageText:hover {
    opacity: 100%;
    cursor: pointer;
  } */