.adminImageContainer{
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.headers{
    align-items: center;
    justify-content: center;
}

.adminMiniImage{
    position: relative;
    display: inline-block;
    text-align: center;
}

.adminImage{
    height: 53%;
    width: 75%;
    border-radius: 5%;
}