.allVideosContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 11%;
    align-items: center;
    padding-top: 2%;
}

.detailItems {
    padding: 0 20px;
}

.onTop {
    margin-bottom: 40px;
    margin-top: 20px;
}

.textStyle {
    font-size: smaller;
}

.mainTitle {
    font-weight: bold;
}

.redX {
    height: 10%;
    width: 10%;
    cursor: pointer;
}