.allVideosContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 9%;
    align-items: center;
    padding-top: 2%;
}

.miniVideos {
    align-items: center;
}

.detailItems {
    padding: 0 20px;
}

.onTop {
    margin-bottom: 40px;
    margin-top: 20px;
}