.toolbar {
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    background: url('../../img/bar/chameleon.jpg');
    height: 56px;
    border-radius: 1%;
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__logo a {
    color:whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
}
.toolbar__logo a:hover,
.toolbar__logo a:active {
    color: palevioletred;
}

.spacer{
    flex: 1;
}

.toolbar__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar__navigation__items li {
    padding: 0 0.05rem;
}

.toolbar__navigation__items a {
    color: whitesmoke;
    text-decoration: none;
}

.toolbar__navigation__items a:hover,
.toolbar__navigation__items a:active {
    color: palevioletred;
}

.toolbar {
    z-index: 999;
}