.position {
    width: 100%;
    max-height: 200px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    padding-top: 0%;
   /*  padding-bottom: 5%; */
}


.miniContainer {
    position: relative;
    display: inline-block;
    text-align: center;
}
.imageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: silver;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(241, 206, 237), 0 0 0.2em rgb(241, 206, 237);
    opacity: 0%;
    font-size: large;
    cursor: pointer;
}
.imageText:hover {
    opacity: 100%;
    cursor: pointer;
  }